/* ----------------- Loader -------------------------------------- */
.hide{
  display: none;
}

.show{
  display: block;
}

.loader{  
  margin: auto;
  text-align: center;
}

.loaderIcon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loaderIcon div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #cef;
  border-radius: 50%;
  animation: loaderIcon 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}
.loaderIcon div:nth-child(1) {
  animation-delay: -0.45s;
}
.loaderIcon div:nth-child(2) {
  animation-delay: -0.3s;
}
.loaderIcon div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loaderIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderText{
  font-family: 'Salsa', cursive;  
  font-size: 16px; 
  color:whitesmoke;
  text-align: center;
}