:root{        
  --blue:#094561;
  --white:#ffffff;
  --item:#9bbacc;
  --yellowDark : #d7ba7d;  
}
.report{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 96%;
  margin: 2%;
  
}

.td, .th{
  border: 1px solid #ddd;
  padding: 8px;    
}

.tr:nth-child(odd){background-color: #12334d;}
.tr:nth-child(even){background-color: #0c2233;}
.tr:hover {background-color: #1d547d;}


.tr{
  color:whitesmoke;
}

.th{
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: var(--blue);
color: white;
font-size: large;
}